<footer class="footer">
    <div class="contactos">
        <ul class="contacto">
            <li class="contacto__item"><a target="_blank" class="contacto__icono" href="https://www.linkedin.com/in/beatriz-garcia-ang/"><i class="fa-brands fa-linkedin"></i></a></li>
            <li class="contacto__item"><a target="_blank" class="contacto__icono" href="https://github.com/beatrizang"><i class="fa-brands fa-github"></i></a></li>
            <li class="contacto__item"><a target="_blank" class="contacto__icono" href="mailto:beatrizgarciaang0@gmail.com"><i class="fa-solid fa-envelope"></i></a></li>
            <li class="contacto__item"><a target="_blank" class="contacto__icono" href=""><i class="fa-solid fa-suitcase"></i></a></li>
        </ul>
    </div>
    Beatriz Garcia
</footer>
