<header class="header">
    <h1 class="header__titulo">Mis Pelis</h1>
    <ul class="menu">
        <li class="menu__item"><a class="menu__link" [routerLink]="['/peliculas/form/']">Nueva Peli</a></li>
        <li class="menu__item"><a class="menu__link" [routerLink]="['/generos']">Generos</a></li>
        <li class="menu__item"><a class="menu__link" href="">Nueva Persona</a></li>
        <li class="menu__item"><a class="menu__link" href="">Listas</a></li>
    </ul>
    <button class="menu__login">LOG IN</button>
</header>